{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

<style>
    .flash-message {
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        margin-bottom: 20px;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
    .flash-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
</style>


<div id="flash-messages">
    {% for flash_error in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
</div>




<div id="layoutAuthentication">
 <div id="layoutAuthentication_content">
    <main>
    <div class="container">
     <div class="row justify-content-center">
         <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
             <div class="card-header"><h3 class="text-center font-weight-light my-4">Se connecter</h3></div>
                <div class="card-body">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
             {{ app.user.nom }} Vous êtes connecté <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">
        Se connecter
    </button>
    <p>Avez-vous déjà un compte ? <a href="{{path('app_register')}}">Créer un compte</a></p>
    <a href="{{path('app_forgot_password_request')}}" class="text-primary text-decoration-none">Mot de passe oublié</a>
</form>


<script>
    
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
            var flashMessages = document.getElementById('flash-messages');
            if (flashMessages) {
                flashMessages.style.opacity = '0';
                setTimeout(function() {
                    flashMessages.remove();
                }, 500); // Le temps de transition pour l'opacité
            }
        }, 10000); // 10 secondes
    });
</script>



{% endblock %}
