


<div id="pcoded" class="pcoded">
{% if app.user.type == 'Etudiant' %}
        <div class="pcoded-overlay-box"></div>
        
        <div class="pcoded-container navbar-wrapper">
        
            <nav class="navbar header-navbar pcoded-header">
            
                <div class="navbar-wrapper">
                
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="">
                        <img src="{{asset('assets/images/img/logo.png')}}" alt="" >
                            
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>

                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>




                       




                        <ul class="nav-right">
                            <li class="header-notification">
                                <a href="#!">
                                    <i class="ti-bell"></i>
                                    <span class="badge bg-c-pink">3+</span>
                                </a>
                                <ul class="show-notification">
                                    <li>
                                        {% for liste in listes %}
                                            
                                        
                                        <h6>Notifications</h6>
                                        <label class="label label-danger">New</label>
                                    </li>
                                    <li>
                                     
                                        <div class="media">
                                        <img src="{{asset('assets/images/img/avatar-4.jpg')}}" alt="" >
                                            
                                            <div class="media-body">
                                                <h5 class="notification-user">{{liste.message}}</h5>
                                                <p class="notification-msg">{{liste.titre}}</p>
                                            <p class="notification-msg"></p>
                                                <span class="notification-time"></span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                    
                                </ul>
                            </li>
                            <li class="user-profile header-notification">
                                <a href="#!">
                                <img src="{{asset('uploads/users/'~ app.user.image)}}" alt="" width="20%">
                                <span>{{app.user.nom}} {{app.user.prenom}}</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    
                                    <li>
                                        <a href="{{path('app_profile')}}">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="{{path('app_logout')}}">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            </div>

    {% elseif app.user.type == "Entreprise" %}

        <div class="pcoded-overlay-box"></div>
        
        <div class="pcoded-container navbar-wrapper">
        
            <nav class="navbar header-navbar pcoded-header">
            
                <div class="navbar-wrapper">
                
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="">
                        <img src="{{asset('assets/images/img/logo.png')}}" alt="" >
                            
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>

                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>









                        
                        <ul class="nav-right">
                            <li class="header-notification">
                                <a href="#!">
                                    <i class="ti-bell"></i>
                                    <span class="badge bg-c-pink"></span>
                                </a>
                                <ul class="show-notification">
                                <li>
                                    
                                    <h6>Notifications</h6>
                                    <label class="label label-danger">New</label>
                                </li>
                                <li>
                                    
                                    <div class="media">
                                    
                                        
                                        <div class="media-body">
                                            <h5 class="notification-user"></h5>
                                            <p class="notification-msg text-bold"></p>
                                        <p class="notification-msg"></p>
                                            <span class="notification-time">Il ya 1 heure</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    
                                        
                                        
                                    </li>
                                </ul>
                            </li>
                            <li class="user-profile header-notification">
                                <a href="#!">
                                <img src="{{asset('uploads/users/'~ app.user.image)}}" alt="" width="20%" class="rounded-circle">
                                <span>{{app.user.nom}} {{app.user.prenom}}</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    
                                    <li>
                                        <a href="{{path('app_profile')}}">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="{{path('app_logout')}}">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            </div>

            {% elseif  app.user.type == 'Universite' %}


            
        <div class="pcoded-overlay-box"></div>
        
        <div class="pcoded-container navbar-wrapper">
        
            <nav class="navbar header-navbar pcoded-header">
            
                <div class="navbar-wrapper">
                
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="">
                        <img src="{{asset('assets/images/img/logo.png')}}" alt="" >
                            
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>

                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>

                        <ul class="nav-right">
                            <li class="header-notification">
                                <a href="#!">
                                    <i class="ti-bell"></i>
                                    <span class="badge bg-c-pink"></span>
                                </a>
                                <ul class="show-notification">
                                    <li>
                                        <h6>Notifications</h6>
                                        <label class="label label-danger">New</label>
                                    </li>
                                    <li>
                                        <div class="media">
                                        <img src="{{asset('assets/images/img/avatar-4.jpg')}}" alt="" >
                                            
                                            <div class="media-body">
                                                <h5 class="notification-user">John Doe</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                        <img src="{{asset('assets/images/img/avatar-3.jpg')}}" alt="" >
                                            <div class="media-body">
                                                <h5 class="notification-user">Joseph William</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                        <img src="{{asset('assets/images/img/avatar-4.jpg')}}" alt="" >
                                            <div class="media-body">
                                                <h5 class="notification-user">Sara Soudein</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="user-profile header-notification">
                                <a href="#!">
                                <img src="{{asset('uploads/users/'~ app.user.image)}}" alt="" width="20%">
                                <span>{{app.user.nom}} {{app.user.prenom}}</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li>
                                        <a href="{{path('app_profile')}}">
                                            <i class="ti-settings"></i> Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('app_profile')}}">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                   
                                    <li>
                                        <a href="{{path('app_logout')}}">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            </div>



        {% endif %}
        
   
