

 
<div >
<div >
    <div >
        <div >

            <div class="page-body">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <br>
                <div class="row">
                    <!-- card1 start -->
                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
                                <span class="text-c-blue f-w-600">Utilisateur</span>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{user}}</div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- card1 end -->
                    <!-- card1 start -->
                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-ui-home bg-c-pink card1-icon"></i>
                                <span class="text-c-pink f-w-600" style="margin-left:45px">Demande d'attestation</span>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{attestation}}</div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- card1 end -->
                    <!-- card1 start -->
                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-warning-alt bg-c-green card1-icon"></i>
                                <span class="text-c-green f-w-600">Offres de stages</span>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{offre}}</div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- card1 end -->
                    <!-- card1 start -->
                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-social-twitter bg-c-yellow card1-icon"></i>
                                <span class="text-c-yellow f-w-600">Demande de stage</span>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{stage}}</div>
                                
                            </div>
                        </div>
                    </div>
                    
</div>
</div>
</div>
</div>


 <!-- Color System -->
 <div class="row">
 <div class="col-lg-6 mb-4">

<!-- Illustrations -->
<div class="card shadow mb-4">
 <div class="card-header py-3">
     <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
 </div>
 <div class="card-body">
     <div class="text-center">
         <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width:30rem;height:13rem" src="{{asset('assets/images/immeu.jpg')}}">
         
     </div>

     <p  class="font-weight-bold text-danger" style="height:95px;padding-top:25px">
       La prise en charge des demandes ou candidatures de stages est nôtre satisfaction
     </p>
    
 </div>
</div>

<!-- Approach -->
<div class="card shadow mb-4">
 <div class="card-header py-3">
     <h6 class="m-0 font-weight-bold text-primary">Isgo Stage</h6>
 </div>
 <div class="card-body" >
     <p>Trouvez les offres de stage selon vôtre secteur d'activité éducationnel dans des entreprises de la place.</p>

 </div>
</div>

</div>


<div class="col-lg-6 mb-4">

<!-- Illustrations -->
<div class="card shadow mb-4">
 <div class="card-header py-3">
     <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
 </div>
 <div class="card-body">
    
     <p  class="font-weight-bold text-primary">
       Ayez une visibilité absolue, des offres de stages sur ISGO Stage, avec des entreprises opèrent dans vos domaines de compétences
     </p>
    
     <div class="text-center">
     <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;height:15rem" src="{{asset('assets/images/immeuble.jpg')}}" >
     </div>

 </div>
</div>

<!-- Approach -->
<div class="card shadow mb-4">
 <div class="card-header py-3">
     <h6 class="m-0 font-weight-bold text-primary">Isgo Stage</h6>
 </div>
 <div class="card-body">
     <p>Faites la mise en publication de vos demandes de stages sur ISGO Stage.Une plateforme de performance absolue et efficace.</p>
  
 </div>
</div>

</div>




